.modal__wrapper{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.modal__wrapper.open{
    height: 100%;
    display: block;

}

.modal__wrapper.close{
    height: 0;
    display: none;

}

.modal__body{
    position: relative;
    max-width: 374px;
    max-height: 640px;
    background-color: white;
    margin-top: 70px;
    overflow-y: scroll;

}

.modal__body::-webkit-scrollbar{
    width: 0;
    background: transparent;

}

.modal__body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal__name{
    color: #0066FF;
    font-size: 18px;
    line-height: 21px;
}

.modal__close{
    width: 50px;
    margin-left: 318px;
    text-align: right;
    margin-top: -20px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.modal__close:after {
    background-color: rgba(0, 102, 255, 0.9);;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    margin-left: 2px;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    color: #000000;
}
.modal__close:hover:after,
.modal__close:focus:after {

    width: 100%;
}


.modal__body h2{
    text-align: left;
    width: 100%;
    margin: 0;
}

.alerts-enter{
    opacity: 0;
    transform: scale(0.9);
}

.alerts-ender-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.alerts-exit{
    opacity: 1;
}

.alerts-exit-active{
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms transform 300ms;
}