.mainAllBlocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.mainOfficeBlock {
    max-width: 50px;
    max-height: 50px;
    border-radius: 100%;
    background-size: cover;
}

.officePick {

    width: 350px;
    height: 480px;
}

.officeText {
    display: flex;
    width: 345px;
    justify-content: flex-end;
    height: 30px;
    padding-top: 5px;
    margin-right: 5px;
}

.blockOffice {
    display: flex;
    width: 350px;
    height: 480px;
    flex-direction: column;
    justify-content: space-between;

}

.blockCompany {
    height: 60px;
    /* background-color: rgba(0, 0, 0, 0.350); */
    width: 220px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 258px;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

.nameCompany {
    font-size: 30px;
}

.nameCity {
    font-size: 20px;
}

.infoBlocks {
    display: flex;
    max-width: 350px;
    max-height: 120px;
    flex-direction: row;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway', sans-serif;
}

.infoItem {
    display: flex;
    width: 172px;
    height: 39px;
    align-items: center;
    justify-content: center;
}

.infoBlockChildOne {
    border-right: #FFFFFF solid;
    display: flex;
    flex-direction: column;
}

.infoBlockChildTwo {
    display: flex;
    flex-direction: column;
}

.buyBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 155px;
    background: #86F465;
    border-radius: 3px;
}

.buyItem {
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: rgb(255, 255, 255);
}

.waitingBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 155px;
    background: #09B2FF;
    border-radius: 3px;
}

.waiting {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 9px;
    padding-left: 10px;
}

.circle {
    padding: 3px;
}

.purposeBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 155px;
    background: linear-gradient(0deg, rgba(0, 102, 255, 0.7), rgba(0, 102, 255, 0.7)), #FFFFFF;
    border-radius: 3px;
}

.purpose {
    color: rgb(255, 255, 255);
    padding-right: 10px;
}

.tasksBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 155px;
    background: linear-gradient(0deg, rgba(0, 102, 255, 0.5), rgba(0, 102, 255, 0.5)), #FFFFFF;
    border-radius: 3px;
}



